.test-creator-Page-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  overflow-y: auto;

  .test-creator-side-panel {
    padding-right: 0;
    padding-left: 0;
  }

  .test-creation-area {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;

  }
}