
.function-list-tab-table th{
  //text-align: left;
  //top: 0;
  //position: sticky;

}


.function-list-table-content {

}

.function-list-header-col {
  cursor: pointer;
}

.function-list-change-badge {
  margin-right: 5px;
  transform: scale(.7);
}

.function-list-function-name {
  //padding-left: 36px;
}