.test-creator-section-wrapper {
  padding: 10px 10px;
  min-height: 40vh;

}

.test-creator-section-wrapper-content {
  overflow-y: auto;
}

.test-creator-section-info {
  height: 50vh;
  width: 30vw;
  padding:  20px;

}