
.sidebar-nav-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.sidebar-tab-content {
  height: calc(100vh - 50px);
  width: 25vw;
  overflow-y: auto;
}


.table-list-header-row {
  background-color: white;
  text-align: left;
  top: 0;
  position: sticky;
  box-shadow: 0 5px 20px grey;
}

.bold {
  font-weight: bold;
}